<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ATM</title>
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <h1><%= @title%></h1>
  <form action="" method="post">
    <input type="hidden" name="id" placeholder="Fullname" value="<%= @data.first["id"]%>">
    <div class="group-input">
      <label for=""> Code </label>
        <input type="text" placeholder="Fullname" value="<%= @data.first["code"]%>" readonly>
    </div>
    <div class="group-input">
      <label for=""> Name </label>
        <input type="text" name="name" placeholder="Fullname" value="<%= @data.first["name"]%>">
    </div>
    <div class="group-input">
      <label for=""> Money </label>
        <input type="text" name="money" placeholder="Fullname" value="<%= @data.first["money"]%>">
    </div>
    <div class="group-input">
      <button type="submit">Save</button>
    </div>
  </form>
  <div class="group">
    <ul>
      <li><a href="/user/add"> Add user</a></li>
      <li><a href="/user"> List user</a></li>
      <li><a href="/"> Homepage</a></li>
    </ul>
  </div>
</body>
</html>