<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ATM</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <h1><%= @title%></h1>
  <table>
    <thead>
      <tr>
        <td>ID</td>
        <td>Code</td>
        <td>Name</td>
        <td>Money</td>
        <td>Action</td>
      </tr>
    </thead>
    <tbody>
      <% @data.each do |i| %>
      <tr>
        <td><%= i["id"] %></td>
        <td><%= i["code"]%></td>
        <td><%= i["name"] %></td>
        <td><%= i["money"]%></td>
        <td>
          <a href="/user/edit?id=<%= i["id"]%>">Edit</a> |
          <a href="/user/delete?id=<%= i["id"]%>">Delete</a>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="group">
    <ul>
      <li><a href="/"> Homepage</a></li>
      <li><a href="/user/add"> Add user</a></li>
    </ul>
  </div>
</body>
</html>